{% load static %}

<!DOCTYPE html>
<html lang="pt">

<head>
    <title>Bookbet :: Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bookbet - Apostas inteligentes | Scanner de apostas seguras com lucros garantidos ">
    <meta name="keywords" content="Bookbet, Apostas, Apostas seguras, Surebets, Betting, Sportbook">
    <meta name="author" content="Bookbet">

    <link rel="icon" type="image/png" sizes="32x32" href="https://bookbet.com.br/static/bookbet-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://bookbet.com.br/static/bookbet-icon.png">
    <link rel="manifest" href="/panel/manifest.json"><meta name="theme-color" content="#090f1e">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#38226a">
    <meta name="apple-mobile-web-app-title" content="BookBet">
    <link rel="apple-touch-icon" href="https://bookbet.com.br/static/bookbet-icon.png">
    <link rel="mask-icon" href="https://bookbet.com.br/static/bookbet-icon.png" color=#090f1e>
    <meta name="msapplication-TileImage" content="https://bookbet.com.br/static/bookbet-icon.png">
    <meta name="msapplication-TileColor" content="#090f1e">

  <!-- [Favicon] icon -->
 <!-- [Font] Family -->
<link rel="stylesheet" href="https://bookbet.com.br/static/bbfiles/fonts/inter/inter.css" id="main-font-link" />
<!-- [Tabler Icons] https://tablericons.com -->
<link rel="stylesheet" href="https://bookbet.com.br/static/bbfiles/fonts/tabler-icons.min.css" />
<!-- [Feather Icons] https://feathericons.com -->
<link rel="stylesheet" href="https://bookbet.com.br/static/bbfiles/fonts/feather.css" />
<!-- [Font Awesome Icons] https://fontawesome.com/icons -->
<link rel="stylesheet" href="https://bookbet.com.br/static/bbfiles/fonts/fontawesome.css" />
<!-- [Material Icons] https://fonts.google.com/icons -->
<link rel="stylesheet" href="https://bookbet.com.br/static/bbfiles/fonts/material.css" />
<!-- [Template CSS Files] -->
<link rel="stylesheet" href="https://bookbet.com.br/static/bbfiles/css/style.css" id="main-style-link" />
<link rel="stylesheet" href="https://bookbet.com.br/static/bbfiles/css/style-preset.css" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-14K1GBX9FG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-14K1GBX9FG');
</script>
<!-- WiserNotify -->
<script>
  !(function () {
    if (window.t4hto4) console.log('WiserNotify pixel installed multiple time in this page');
    else {
      window.t4hto4 = !0;
      var t = document,
        e = window,
        n = function () {
          var e = t.createElement('script');
          (e.type = 'text/javascript'),
            (e.async = !0),
            (e.src = 'https://pt.wisernotify.com/pixel.js?ti=1jclj6jkfc4hhry'),
            document.body.appendChild(e);
        };
      'complete' === t.readyState ? n() : window.attachEvent ? e.attachEvent('onload', n) : e.addEventListener('load', n, !1);
    }
  })();
</script>
<!-- Microsoft clarity -->
<script type="text/javascript">
  (function (c, l, a, r, i, t, y) {
    c[a] =
      c[a] ||
      function () {
        (c[a].q = c[a].q || []).push(arguments);
      };
    t = l.createElement(r);
    t.async = 1;
    t.src = 'https://www.clarity.ms/tag/' + i;
    y = l.getElementsByTagName(r)[0];
    y.parentNode.insertBefore(t, y);
  })(window, document, 'clarity', 'script', 'gkn6wuhrtb');
</script>

</head>
<!-- [Head] end -->
<!-- [Body] Start -->

<body data-pc-preset="preset-8" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme_contrast="" data-pc-theme="dark" style="background: #131920;">


  <div class="auth-main">
    <div class="auth-wrapper v1">
      <div class="auth-form">
        <div class="card my-5">
          <div class="card-body">
            <div class="text-center">
              <a href="#"><img src="https://bookbet.com.br/static/bbfiles/images/bookbet-dark.png" style="width: 50%;" alt="img"></a>
            </div>
            <form method="post">
            <h4 class="text-center f-w-500 mb-3 mt-4">Acesse sua conta</h4>
            {% csrf_token %}
            
                    {% if messages %}
                    {% for message in messages %}
                        <span{% if message.tags %} class="{{ message.tags }} fw-bold text-center w-100 d-block bg-white p-3 rounded mb-2"{% endif %}>{{ message }}</span>
                    {% endfor %}
                {% endif %}
            <div class="form-group mb-3">
              <input type="email" name="email" class="form-control" id="floatingInput" placeholder="E-mail">
            </div>
            <div class="form-group mb-3">
              <input type="password" name="password" class="form-control" id="floatingInput1" placeholder="Senha">
            </div>
            <div class="d-flex mt-1 justify-content-between align-items-center">
              <div class="form-check">
                <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="">
                <label class="form-check-label text-muted" for="customCheckc1">Lembrar-me</label>
              </div>
              <a href="{% url 'password_reset' %}"><h6 class="text-secondary f-w-400 mb-0">Esqueceu sua senha?</h6></a>
            </div>
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="display: none;"> Data powered by Oddspedia
    <a href="https://oddspedia.com">
      <img src="https://widgets.oddspedia.com/images/logo-oddspedia-light.svg" style="width: 50px;">
    </a>
  </div>
  <!-- [ Main Content ] end -->
  <!-- Required Js -->
  <script src="https://bookbet.com.br/static/bbfiles/js/plugins/popper.min.js"></script>
  <script src="https://bookbet.com.br/static/bbfiles/js/plugins/simplebar.min.js"></script>
  <script src="https://bookbet.com.br/static/bbfiles/js/plugins/bootstrap.min.js"></script>
  <script src="https://bookbet.com.br/static/bbfiles/js/fonts/custom-font.js"></script>
  <script src="https://bookbet.com.br/static/bbfiles/js/pcoded.js"></script>
  <script src="https://bookbet.com.br/static/bbfiles/js/plugins/feather.min.js"></script>

  <script>layout_change('dark');</script>
  <script>layout_sidebar_change('false');</script>
  <script>change_box_container('false');</script>
  <script>layout_caption_change('false');</script>
  <script>layout_rtl_change('false');</script>
  <script>preset_change("preset-8");</script>


</body>

</html>